@model MVCReviewSiteProject.Models.Reviews

@{
    ViewBag.Title = "Details";
}

<h2 style="text-align:center;font-family: 'Questrial', sans-serif;">Review Details</h2>

<div style="font-family: 'Questrial', sans-serif;">
    @*<h4 style="text-align:center; font-family: 'Questrial', sans-serif;">Review Details</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReviewerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReviewerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReviewerHome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReviewerHome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TravelDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TravelDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReviewDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReviewDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Review)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Review)
        </dd>

    </dl>
</div>
<p style="text-align:center; font-family: 'Questrial', sans-serif;">
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReviewID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
